{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"], // Add '.ts' and '.tsx'
      },
    },
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
      },
    ],
  },
}
